PHP_VERSION=8.4
WP_VERSION=6.9

FORWARD_WEB_PORT=8080
FORWARD_MAILPIT_PORT=8025
FORWARD_DB_PORT=3306

SITE_URL="http://localhost:${FORWARD_WEB_PORT}"
SITE_TITLE="WordPress Local"
SITE_TIMEZONE=Asia/Jakarta
SITE_DEBUG=0
SITE_ADMIN_USER=admin
SITE_ADMIN_PASS=secret
SITE_ADMIN_EMAIL=admin@example.com

SITE_PLUGINS=blocksy-companion
SITE_THEMES=blocksy
SITE_DEFAULT_THEME=custom-theme

MULTISITE_ENABLED=0

DB_USER=sampleuser
DB_PASS=samplepass
DB_NAME=wordpress
